<!DOCTYPE html>
<html lang="en">
<head>
    <module href="/partials/head.html"></module>
    <title>Vincent Will - Web-Developer from Berlin</title>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <module href="/partials/navigation.html"></module>

            <div class="site-header-content hero text-light text-center container-sm">
                <img class="hero-picture" src="images/profile.jpg"/>
                <h1 class="hero-title h2-mobile mt-0 is-revealing">Vincent Will</h1>
                <p class="hero-paragraph is-revealing">Web-Developer from Berlin</p>
            </div>
        </header>

        <main>
            <section id="projects" class="features-extended section">
                <div class="container">
                    <div class="features-extended-inner section-inner has-top-divider">
                        <div class="features-extended-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">Projects</h2>
                                <p class="section-paragraph">A selection of my latest projects</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="images/tram4.png" alt="Screenshot of Tram4 Website" />
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">TraM4 Band</h3>
                                <p>A static website for my band TraM4</p>
                                <a href="https://tram4.de/" target="_blank" rel="noopener">> Visit Website</a>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="images/igem.png" alt="Screenshot of Tram4 Website" />
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">iGem HU Berlin</h3>
                                <p>The wiki for the iGem project of HU Berlin.</p>
                                <a href="https://2019.igem.org/wiki/index.php?title=Team:Humboldt_Berlin" target="_blank" rel="noopener">> Visit Website</a>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="images/bildderfrau.jpg" alt="Bild Der Frau Website" />
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Bild der Frau Relaunch</h3>
                                <p>Implement the new design of the online presence of Bild der Frau during my time at the agency eThinking.</p>
                                <a href="https://www.bildderfrau.de/" target="_blank" rel="noopener">> Visit Website</a>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="images/friedhof.jpg" alt="Friedhof Weißensee Website" />
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Friedhof Weißensee</h3>
                                <p>Set up a small wordpress page with design adaptions.</p>
                                <a href="http://www.friedhof-weissensee.de/" target="_blank" rel="noopener">> Visit Website</a>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="images/vincenius.jpg" alt="Vincenius Art Website" />
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Vincenius Art</h3>
                                <p>Simple website for my Art Projects.</p>
                                <a href="https://vincenius.com/" target="_blank" rel="noopener">> Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact" class="contact section text-center text-light">
                <div class="container">
                    <div class="section-inner">
                        <h2 class="section-title mt-0">Contact</h2>
                        <form action="https://formspree.io/vincentwill@arcor.de" method="POST">
                            <div class="input-container">
                                <label for="email">E-Mail:</label>
                                <input type="email" name="email" placeholder="Your E-Mail" required/>
                            </div>

                            <div class="input-container">
                                <label for="text">Message:</label>
                                <textarea rows="4" name="text" placeholder="Your Message" required></textarea>
                            </div>

                            <div class="input-container">
                                <input type="submit" value="Send" />
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <module href="/partials/footer.html"></module>
    </div>
    <module href="/partials/scripts.html"></module>
</body>
</html>
