<!DOCTYPE html>
<html lang="en">
<head>
    <module href="/partials/head.html"></module>
    <title>Vincent Will - A Blog about Web-Development</title>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <module href="/partials/navigation.html"></module>

            <div class="site-header-content hero text-light text-center container-sm">
                <h1 class="hero-paragraph is-revealing">A Blog about Web-Development</h1>
            </div>
        </header>

        <main>
            <section class="section post-list">
                <div class="container">
                    <article class="post-preview">
                        <header>
                            <time datetime="2019-10-23T12:35">October 23, 2019</time>
                            <h2>
                                <a href="/blog/4-websites-to-recreate-to-practice-your-web-development-skills.html" class="inverse">
                                    4 Websites to recreate to practice your web development skills
                                </a>
                            </h2>
                        </header>
                        <p>The best way to learn web development is by practice. But when you get started you might feel lost. There are just so many things to learn, which makes it hard to choose the right project to get started. In the following I'll share some…</p>
                        <a href="/blog/4-websites-to-recreate-to-practice-your-web-development-skills.html" class="readmore">Read more</a>
                    </article>


                    <article class="post-preview">
                        <header>
                            <time datetime="2019-10-16T11:15">October 16, 2019</time>
                            <h2>
                                <a href="/blog/the-best-note-taking-apps-for-developers.html" class="inverse">The best note taking apps for developers</a>
                            </h2>
                        </header>
                        <p>There are tons of note taking apps out there. But which ones are best suitable for developers? In the following I'll introduce three note taking apps for developers with good code support. + Available for: Mac, Windows, Android, iOS + Nice Code editor with a…</p>
                        <a href="/blog/the-best-note-taking-apps-for-developers.html" class="readmore">Read more</a>
                    </article>


                    <article class="post-preview">
                        <header>
                            <time datetime="2019-03-23T11:54">March 23, 2019</time>
                            <h2>
                                <a href="/blog/how-to-toggle-an-array-item-in-react-state.html" class="inverse">How to toggle an array item with Javascript in React State</a>
                            </h2>
                        </header>
                        <p>In this short article I will demonstrate how to write a function to toggle array items with Javascript and inside of React state. First of all let’s have a look how&nbsp;to toggle an array item with Javascript (ES6): This function will get an array and…</p>
                        <a href="/blog/how-to-toggle-an-array-item-in-react-state.html" class="readmore">Read more</a>
                    </article>


                    <article class="post-preview">
                        <header>
                            <time datetime="2018-07-27T10:43">July 27, 2018</time>
                            <h2>
                                <a href="/blog/widget-based-website-with-dynamic-vuejs-components.html" class="inverse">Widget based website with dynamic Vue.js components</a>
                            </h2>
                        </header>
                        <p>In this post I will explain how to generate a webpage using dynamic Vue.js components. This could be the foundation of a CMS based on Vue. The finished project can be found&nbsp;here First of all install the&nbsp;vue-cli if you havent already. To do so open…</p>
                        <a href="/blog/widget-based-website-with-dynamic-vuejs-components.html" class="readmore">Read more</a>
                    </article>
                </div>
            </section>
        </main>

        <module href="/partials/footer.html"></module>
    </div>
    <module href="/partials/scripts.html"></module>
</body>
</html>
