<!DOCTYPE html>
<html lang="en">
<head>
    <module href="/partials/head.html"></module>
    <title>How to toggle an array item with Javascript in React State - Vincent Will - Blog</title>
    <link rel="canonical" href="https://vincentwill.com/blog/how-to-toggle-an-array-item-in-react-state.html">
    <meta name="description" content="In this short article I will demonstrate how to write a function to toggle array items with Javascript and inside of React state. First of all let’s have a look how to toggle an array item with Javascript (ES6): This function will get an array and…">
    <meta property="og:title" content="How to toggle an array item with Javascript in React State">
    <meta property="og:image" content="/images/2-react.jpg">
    <meta property="og:site_name" content="Vincent Will - Blog">
    <meta property="og:description" content="In this short article I will demonstrate how to write a function to toggle array items with Javascript and inside of React state. First of all let’s have a look how to toggle an array item with Javascript (ES6): This function will get an array and…">
    <meta property="og:url" content="https://vincentwill.com/blog/how-to-toggle-an-array-item-in-react-state.html">
    <meta property="og:type" content="article">
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"Article","mainEntityOfPage":{"@type":"WebPage","@id":"https://vincentwill.com/blog/how-to-toggle-an-array-item-in-react-state.html"},"headline":"How to toggle an array item with Javascript in React State","datePublished":"2019-03-23T11:54","dateModified":"2019-10-16T08:35","image":{"@type":"ImageObject","url":"https://vincentwill.com/blog/media/posts/5/proxy.duckduckgo.com.jpg","height":1440,"width":2560},"description":"In this short article I will demonstrate how to write a function to toggle array items with Javascript and inside of React state. First of all let’s have a look how to toggle an array item with Javascript (ES6): This function will get an array and&hellip;","author":{"@type":"Person","name":"Vincent Will"},"publisher":{"@type":"Organization","name":"Vincent Will","logo":{"@type":"ImageObject","url":"https://vincentwill.com/blog/media/website/logo.png","height":64,"width":64}}}</script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <module href="/partials/header.html"></module>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <header class="hero__text">
                            <h1>How to toggle an array item with Javascript in React State</h1>
                            <p class="post__meta">
                                <time datetime="2018-07-27T10:43">March 23, 2019 </time>
                                By Vincent Will
                            </p>
                        </header>
                    </div>
                </div>
            </section>

            <section class="section post-list">
                <div class="container" style="margin-top: 250px;">
                    <p>In this short article I will demonstrate how to write a function to toggle array items with Javascript and inside of React state.</p>
                    <p>First of all let’s have a look how to toggle an array item with Javascript (ES6):</p>
<pre><code class="javascript">function toggleArrayItem(arr, item) {
    arr.includes(item)
        ? arr.filter(i => i !== item) // remove item
        : [ ...arr, item ]; // add item
}</code></pre>
                    <p>This function will get an array and the item to be toggled. The includes checks if the array already has the item. If yes then it uses  filter to remove it. If not it uses the spread operator to create a new array containing the values of the provided array plus the new item.</p>
                    <p>Now let’s use this function with React State:</p>
<pre><code class="javascript">onToggleArray = item => {
    this.setState(state => {
        const arr = state.arr.includes(item)
            ? arr.filter(i => i !== item) // remove item
            : [ ...arr, item ]; // add item
        return {
            arr,
        };
    });
}</code></pre>
                    <p>Since it’s not allowed to mutate the state directly, it’s not possible to just push an item to an array. So we use our function to create a new array based on the previous state. Then we’ll add this new array to the state.</p>
                </div>
            </section>
        </main>

        <module href="/partials/footer.html"></module>
    </div>
    <module href="/partials/scripts.html"></module>
</body>
</html>
