<!DOCTYPE html>
<html lang="en">
<head>
    <module href="/partials/head.html"></module>
    <title>Vincent Will - A Blog about Web-Development</title>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <module href="/partials/header.html"></module>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-paragraph is-revealing">TODO</h1>
                    </div>
                </div>
            </section>

            <section class="section post-list">
                <div class="container" style="margin-top: 250px;">
                    TODO
                </div>
            </section>
        </main>

        <module href="/partials/footer.html"></module>
    </div>
    <script src="bundle.js"></script>
</body>
</html>
