.contact {
    background: mix(color(secondary, 1), color(additional, 2));
    background: linear-gradient(57deg, color(secondary, 1) 0%, color(additional, 2) 100%);
    padding: 50px;

    .section-title {
        color: #fff;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 600px;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .contact .input-container {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .contact .input-container {
        width: 280px;
    }
}