.hero {
    position: relative;
    padding-top: 40px;
    overflow: hidden;
    margin-bottom: 160px;
}

.hero-paragraph {
    margin-bottom: 32px;
}

.hero-picture {
    width: 100px;
    border-radius: 100%;
    margin: 0 auto 20px;
}

@include media( '>medium' ) {
    .hero {
        padding-top: 50px;
    }

    .hero-paragraph {
        margin-bottom: 140px;
        padding-left: 72px;
        padding-right: 72px;
    }
}
