<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">
<link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<!-- Matomo -->
<script type="text/javascript">
    if (location.hostname !== "localhost" && location.hostname !== "127.0.0.1") {
        console.log('called')
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.vincentwill.com/";
            _paq.push(['setTrackerUrl', u+'hokuspokusp']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'hokuspokusj'; s.parentNode.insertBefore(g,s);
        })();
    }
</script>
<!-- End Matomo Code -->